#electro_comp{
    background-color: white;
    height: 400px;
}
#ec_block{
    margin-top: 30px;
    align-self: center;
    width: 1040px;
    height: 225px;
    background: #F9F9F9;
    border: 1px solid #D0D0D0;     
}
#ec_block > p{
    margin-top: 25px;
    margin-left: 30px;
    font-size: 20px;
    width: 1000px;
}
#ec_button{
    margin-top: 25px;
    margin-left: 30px;
    width: 420px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #000000;
    transition: transform 0.3s;
}
#ec_button:hover{
    transform: scale(1.05);
    transition: transform 0.3s; 
}
#ec_button > span{
    font-size: 20px;
    margin-right: 15px;
}
@media only screen and (max-width: 1200px) {
    #electro_comp{
        width: 100%;
    } 
    #ec_block{
        width: 90%;
    }
    #ec_block > p{
        width: 95%;
    }
}
@media only screen and (max-width: 800px) {
    #electro_comp{
        height: 400px;
    }
    #electro_comp > h2{
        font-size: 32px;
    }
    #ec_block{
        height: 270px;    
    }
}
@media only screen and (max-width: 400px) {
    #electro_comp{
        height: 580px;
    }
    #electro_comp > h2{
        font-size: 32px;
    }
    #ec_block{
        height: 410px;    
    } 
    #ec_button{
        width: 300px;
    }
    #ec_button span{
        margin-right: 5px;
        width: 80%;
        font-size: 18px;
    }

}